 
 @media (min-width:900px){   
    /* header */
    .encabezado {
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .encabezado .text-center img {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    /*productos*/
    .main .cointainer .row {
        padding: 8px 20px;
    }

    /*promo*/
    .promo {
        margin-top: 3%;
    }

    .promo h2 {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .promo h3 {
        font-size: 3rem;
    }

    .promo p {
        font-size: 1.5rem;
    }

    .promo .precio {
        padding: 2% 5%;
        background-color: rgb(34, 34, 59);
        color: rgb(201, 173, 167);
        border: none;
        border-radius: 1.5rem;
        cursor: pointer;
    }
 }