@media (min-width:900px){
    // nosotros
    .principal h1 {
        text-align: center;
        font-size: 2.5rem;
        margin: 2rem;
        padding: 2%;
        background-color: antiquewhite;
        transition: 0.3;
        cursor: pointer;
    }

    .principal h1:hover{
        transform: scale(1.2);
    }

    .principal p {
        padding: 1%;
        margin: 2rem;
        text-align: center;
        font-size: 1rem;
        white-space: pre-line;
        background-color: rgba(255, 228, 196, 0.348);
    }

    .imagen-nosotros {
        display: block;
        margin: auto;
        width: 60%;
        height: 20%;
        margin-bottom: 5%;
        display: flex;
        align-items: center;
    }
}